.asd {
    background-color: black;
}
.jumbotron {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    
    
}
.form-group {
    color: white;
    text-align: center;
   
}
.img-rounded {
    margin-left: 145px
}

